*

!README.md
!.gitignore

!alacritty/
!rofi/
!picom/
!i3/
!polybar/
!dunst/
!ranger/
!gammastep/

!alacritty/**
!rofi/**
!picom/**
!i3/**
!polybar/**
!dunst/**
!ranger/**
!gammastep/**

!vim/
!vim/vimrc
